.blog-more{
    background-color: $brand-color;
    padding: Rem(70px) Rem(50px);
}

.blog-more__subtitle{
    margin-bottom: Rem(30px);
}

.blog-more__title{
    margin-bottom: Rem(20px);
}

.blog-more__line{
    width: Rem(44px);
    height: Rem(5px);
    background-color: $base-color;
    margin-bottom: Rem(50px);
}

.blog-more__text{
    margin-bottom: Rem(55px);
}

.blog-more__link{

}
