.card{
    position: relative;
}

.card:hover .card__top{
    background-color: $brand-color;
}

.card:hover .card__price{
    color: $brand-color;
}

.card:hover .btn--pricing{
    background-color: $brand-color;
    border: 1px solid $brand-color;
}

.card__top{
    padding-top: Rem(50px);
    padding-bottom: Rem(130px);
    background-color: $text-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__title{

}

.card__price-block{
    position: absolute;
    width: Rem(176px);
    height: Rem(176px);
    border-radius: Rem(88px);
    top: Rem(133px);
    background-color: hsla(228, 29%, 97%, 0.2);;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card__price-wrapper{
    width: Rem(152px);
    height: Rem(152px);
    border-radius: Rem(76px);
    background-color: $base-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__price{

}

.card__term{

}

.card__block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $header-color;
    padding-top: Rem(124px);
    padding-bottom: Rem(49px);
}

.card__info{
    margin-bottom: Rem(48px);
}

.card__text{
    margin-bottom: Rem(27px);
    text-align: center;

    &:last-child{
        margin-bottom: 0;
    }

}
