.nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 0;
}

.nav__item{
    margin-right: Rem(60px);

    &:last-child{
        margin-right: 0;
    }
}

.nav__link{
    padding-bottom: Rem(22px);

    &:hover{
        color: $brand-color;
        font-weight: 700;
        border-bottom: 1px solid $brand-color;
        text-decoration: none;
    }
}
