.header{
    background-image: url(images/bg-header.png);
    background-size: cover;
    background-position: top center;
    padding-top: Rem(60px);
    padding-bottom: Rem(262px);
}

.header__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: Rem(233px);
}

.header__subtitle{
    margin-bottom: Rem(46px);
}

.header__title{
    margin-bottom: Rem(43px);
}

.header__text{
    margin-top: Rem(42px);
    margin-bottom: Rem(66px);
    width: 68%;
    text-align: center;
}

.header__btn-block{
    display: flex;
}
