.pricing{
    padding-top: Rem(155px);
    padding-bottom: Rem(130px);
}

.pricing__top{
    margin-bottom: Rem(67px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing__title{

}

.pricing__subtitle{
    margin-bottom: Rem(26px);
}
